%form.form-inline{role: "form"}
  .form-group.col-lg-4
    %label{for: "first_name"} First Name   
    %input#first_name.form-control{placeholder: "First Name"}/

  .form-group.col-lg-4    
    %label{for: "last_name"} Last Name
    %input#last_name.form-control{placeholder: "Last name" }/

  .form-group
    %br
    %button.btn.btn-default{type: "submit"} Create