#fields
  .row
    .col-lg-6
      %input#first_name.form-control{placeholder: "First name", type: "text"}/

    .col-lg-6
      %input#last_name.form-control{placeholder: "Last name", type: "text"}/
      %br
      .row
        %button#submit.btn.btn-primary.pull-right{type: "button"} Submit
        %button#cancel.btn.pull-right{type: "button"} Cancel

