#fields
  .row
    .col-lg-6
      %input#first_name.form-control{placeholder: "First name", type: "text"}/

    .col-lg-6
      %input#last_name.form-control{placeholder: "Last name", type: "text"}/
      %br
    .col-lg-12
      %button#submit.btn.btn-primary{type: "button"} Create contact

      %button#cancel.btn{type: "button"} Cancel

