#new_client.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog
    = simple_form_for @client, html: {"data-type" => :json }, :remote => true do |f|
    
      .modal-content        
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
          %h4.modal-title New Client

        .modal-body 
          #new_post        
          = render 'clients/form_fields' , f: f   

        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
          -# %button.btn.btn-primary{:action => "submit" , :type => "button"} Save changes
          =f.button :submit, class: "btn-primary"

:javascript          

$(document).ready(function() {
   var client_modal = $('#new_client'); 
   //client_modal.find("input[id^='client']").val(''); 
   client_modal.on("ajax:success", function(event, data) {    
     alert("Client: " + data.n + " Was created successfully!");
     client_modal.modal('hide');
     $("#meeting_client_id").append('<option value='+data._id+'>'+data.n+'</option>');
    }).bind("ajax:error", function(e, xhr, status, error) {
      alert(xhr.responseText);
      //$("#new_post").append("<p>ERROR</p>");
  });
});