<nav class="navbar navbar-default" role="navigation">
  <div class="navbar">
      <a class="navbar-brand" href="#">Vesper-CRM</a>
      <ul class="nav navbar-nav">
        <li>{{#link-to 'application'}}Home{{/link-to}}</li>
        <li><a href='#'>Meetings</a></li>
        <li>{{#link-to 'clients'}}Clients{{/link-to}}</li>
        <li>{{#link-to 'sales-reps'}}Sales-Resp{{/link-to}}</li>
        <li>{{#link-to 'about'}}About{{/link-to}}</li>
      </ul>
  </div>
</nav>

{{outlet}}
