<table cellpadding="10">
  <tr>
  	<th>Date</th>
  	<th>duration</th>
  	<th>Notes</th>
  	<th>Sales rep Attending this meeting</th>
  	<th>Contacts Attending this meeting</th>
  </tr>

<% for meeting in @client.meetings %>
  <tr>
  	<td><%=h meeting.start_date.to_s(:short) %></td>
    <td><%=h meeting.duration %> Minutes</td>
    <td><%=h meeting.memo %></td>

  </tr>
<% end %>

</table>


<!--Fix the Duration view-->
