

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <a class="navbar-brand" href="#">Vesper CRM</a>
    <ul class="nav navbar-nav">
      <li>{{#linkTo 'meetings'}}Meetings{{/linkTo}}</li>
      <li>{{#linkTo 'clients'}}Clients{{/linkTo}}</li> 
      <li>{{#linkTo 'sales_reps'}}Sales Reps{{/linkTo}}</li>    
    </ul>

</nav>

<div class="container">
  {{outlet}}

</div>