

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">

  <a class="navbar-brand" href="#">Vesper CRM</a>
    <ul class="nav navbar-nav">
      <li class="active"><a  href="#">Meetings</a></li>
      <li><a href="#">Clients</a></li> 
      <li><a href="#">Sales Reps</a></li> 
   
    </ul>

</nav>
