<h1>THIS IS MEETINGS TEMPlATE</h1>

<div class="row">

	<div class="col-lg-2">

		{{view Ember.Select
		contentBinding="controller.clientsForSelect"
		optionValuePath="content.id"
		optionLabelPath="content.name"
		class="form-control"
	    }}
   </div>
 {{controller}}
</div>
{{render "clients.new" newClient }}
<hr />


